# Requirements for file formatting during development
black==24.3.0
flake8==5.0.3

# Requirements for running the Azure functions
-r api/requirements.txt

# Requirements for running the test suite
-r test/requirements.txt
